<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
	<link rel="shortcut icon" href="fav/book.png">
	<link rel=bookmark href="fav/book.png" type=image/x-icon>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="js/bootstrap/bootstrap.min.js"></script>
	<script src="js/bootstrap/bootstrap-table.js"></script>
	<script src="js/bootstrap/bootstrap-table-zh-CN.js"></script>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/bootstrap-table.css">
	<style>
		#upload {
			text-align:center;
			padding: 20px 0px 30px 0px; 
		}
		.a-upload {
		    overflow: hidden;
		    display: inline-block;
		   
		}
		
	</style>
<title>书屋</title>
</head>
<body>
	<div id="upload">
		<!--  
		<progress id="progressBar" value="0" max="100" style="width: 300px;"></progress>
		<span id="percentage"></span><span id="time"></span>
		<br /><br /> -->
		<div class="a-upload">
			<input type="file" id="file" name="myfile" />
		</div>
		<input type="button" onclick="UpladFile()" value="上传" />
		<input type="button" onclick="cancleUploadFile()" value="取消" />
	</div>
	
	<table id="roleTable" data-mobile-responsive="true" class="mb-bootstrap-table text-nowrap"></table>
	<script src="js/book/book.js"></script>
	<script src="js/book/upload.js"></script>
</body>
</html>