<!DOCTYPE html>
<html lang=en>
	<meta charset=UTF-8>
	<meta http-equiv=X-UA-Compatible content="IE=edge">
	<link rel="shortcut icon" href="fav/favicon.ico">
	<link rel=bookmark href="fav/favicon.ico" type=image/x-icon>
    
	<title>星空</title>
	<link rel=stylesheet href="css/style.css">
    <script type="text/javascript">
    function duihua()
	{
		alert(1);
	}
    </script>
	<div class=wrap id=wrap>
		<div class=wrapper>
			<div class=header>
				<div class="head clearfix">
					
				</div>
			</div>
			<div class=page_wp id=page_wp>
				<div class="page page_1"><span class="page_bg scale_box"></span>
					<div class=img_box><img src="" alt=""></div>
					<div class="txt_box scale_box">
						<h2>星空</h2>
						<p class=txt_brief>星空，浮现在那落寞的黑夜， 他们在向这一片土地招手的那一刻。是温暖，还有希望。它们点缀那片我们的天空， 不知不觉， 这世界黑得温馨。</div>
				</div>
				<div class="page page_2"><span class="page_bg scale_box"></span>
					<div class=img_box><img src="" alt=""></div>
					<div class="txt_box scale_box">
						<h2>星空</h2>
						<p class=txt_brief>星空，浮现在那落寞的黑夜， 他们在向这一片土地招手的那一刻。是温暖，还有希望。它们点缀那片我们的天空， 不知不觉， 这世界黑得温馨。</div>
				</div>
				<div class="page page_3"><span class="page_bg scale_box"></span>
					<div class=img_box><img src="" alt=""></div>
					<div class="txt_box scale_box">
						<h2>星空</h2>
						<p class=txt_brief>星空，浮现在那落寞的黑夜， 他们在向这一片土地招手的那一刻。是温暖，还有希望。它们点缀那片我们的天空， 不知不觉， 这世界黑得温馨。</div>
				</div>
				<div class="page page_4"><span class="page_bg scale_box"></span>
					<div class=img_box><img src="" alt=""></div>
					<div class="light_wp scale_box"><span class=light_box><i class=light_1></i> <i class=light_2></i> <i class=light_3></i> <i class=light_4></i> <i class=light_5></i></span></div><span class="meteor_box scale_box"></span>
					<div class="txt_box scale_box">
						<h2>星空</h2>
						<p class=txt_brief>星空，浮现在那落寞的黑夜， 他们在向这一片土地招手的那一刻。是温暖，还有希望。它们点缀那片我们的天空， 不知不觉， 这世界黑得温馨。</div>
				</div>
			</div>
			<div class="star_wp scale_box" id=star_wp><span class=star_bg></span> <span class=star_box></span></div><canvas id=canvas></canvas>
			<div class="btns_wp scale_box">
				<div class="btn_download JS-btn-download" style="cursor:pointer;" onclick="duihua()">进入主页</div>
			</div>
		</div>
	</div>
    <audio autoplay="autoplay">
<source src="http://p2.music.126.net/NtXmSDF8kNJGKyJOK3D8GA==/6668538022554964.mp3" type="audio/mpeg">
</audio>
<div style="display:none"><div style="display:none"><script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?1dbe95a1dae692c7d6010b0d93a0bf52";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</div></div>

	<!-- 个人感觉 自己手动加点音乐就更完美了 -->
	<script src="js/vendors.js"></script>
	<script src="js/index.js"></script>
	<!--[if IE 6]>
<script type="text/javascript" src="http://static.webgame.kanimg.com/com/DD_PNG_min.js"></script>
<script type="text/javascript">
	var links=document.getElementsByTagName("a");
	for(var i=0,l=links.length;i<l;i++){
		links[i].setAttribute("hideFocus",true);
	}
</script>
<![endif]-->