<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>云收藏</title>
  	<link rel="shortcut icon" href="fav/book.png">
	<link rel=bookmark href="fav/book.png" type=image/x-icon>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/bootstrap-table.js"></script>
	<script src="js/bootstrap-table-zh-CN.js"></script>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/bootstrap-table.css">
</head>
<body>
	
	<button class="btn btn-primary" data-toggle="modal" data-target="#myModal">新增</button>
	<button type="button" class="btn btn-link pull-right">阅读本站书籍</button>
	<!-- 模态框（Modal） -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h5 class="modal-title" id="myModalLabel">新增</h5>
				</div>
				<div class="modal-body">
					<div class="input-group">
						<span class="input-group-addon">标题</span>
						<input type="text" class="form-control" name="name">
					</div>
					<br>
					<div class="input-group">
						<span class="input-group-addon">链接</span>
						<input type="text" class="form-control" name="url">
					</div>
					<br>
					<div class="input-group">
						<span class="input-group-addon">来源</span>
						<input type="text" class="form-control" name="source">
					</div>
					<br>
					<div class="input-group">
						<span class="input-group-addon">分类</span>
						<input type="text" class="form-control" name="sort">
					</div>
					<br>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-primary" onclick="submit()">确定</button>
				</div>
			</div>
		</div>
	</div>
	
	<div>
		<table id="roleTable" data-mobile-responsive="true" class="mb-bootstrap-table text-nowrap"></table>
	</div>
    
  
  
	<script src="js/index.js"></script>
</body>
</html>